*{
	padding: 0;
	margin:0;
}

a:focus, .button:focus, .button.alt:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
    outline: none;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: ;
	font-family: ;
	font-weight: ;
	cursor: pointer;
}

a:hover {
	opacity: 0.8;
}

body {
	font-family: ;
	font-weight: ;
	color: #fff ;
	font-size: ;
	background-color: ;
}

.container {
	width: 100%;
	height: 100%;
}

.wrapper {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.wrapper > * {
	mmax-width: 1920px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	flex: 0 0 auto;
}

/* HEADER =====================================*/

.header {
	width: 100%;
	height: 100%;
}

.header__content {
	width: 100%;
	height: 100%;
	position: relative;
}

.header__video {
	width: 100vw;
	height: 100%;
	bbackground: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
	url("../video/ISKRA_Showreel_V8.mp4");
	object-fit: cover;
}

.header__block {
	width: 100%;
	max-height: 972px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.header__contact {
	width: 100%;
	margin: 0 auto;
	margin-top: 12vh;
	margin-bottom: 21vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__elem {
	margin-right: 5px;
	font-weight: 500;
	font-size: 1.7vh;
}

.header__elem_star {
	color: #ff0000;
}

.header__logo {
	height: 21vh;
	display: block;
	margin: 0 auto;
	position: relative;
	left: 5vh;
}

.header__play {
	margin: 12vh auto;
	text-align: center;
	display: block;
	font-weight: 600;
	font-size: 2.5vh;
	color:#fff;
}

.header__social {
	max-width: 20vh;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	transition: 0.4s;
}

.header__social-link {
	transition: 0.4s;
}

.header__social-link:hover {
	transform: translateY(-5px);
}

.header__icon {
	width: 4.5vh;
}

/* HEADER END==================================*/

/* ABOUT ======================================*/
.about {
	background-color: #FFE3E3;
}

.about__content {
	padding-top: 19vh;
	padding-left: 100px;
	color:#ff0000;
}

.about__text {
	max-width: 117vh;
	margin-bottom: 70px;
	font-weight: bold;
	font-size: 55px;
	font-size: 5vh;
	line-height: 140%;
}

.about__link {
	margin-top: 20vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color:#ff0000;
	letter-spacing: 0.18em;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
}	

.about__arrow {
	margin-left: 2px;
}

/* ABOUT END===================================*/

/* SLIDER =====================================*/

.slider {
	width: 50vw;
	background: url('../img/slider/slide.jpg') no-repeat center;
	background-size: cover;
}

.slider__manage {
	width: 100%;
	margin-top: 88vh;
	padding: 0 4vh;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

/* SLIDER END==================================*/

/* BOX ========================================*/

.box {
	width: 50vw;
}

.content-main {
	height: 100%;
	padding-left: 9vh;
	position: relative;
}

.title-main {
	margin-top: 7vh;
	margin-bottom: 9vh;
	font-size: 11vh;
}

.text-main {
	max-width: 69vh;
	font-size: 3vh;
	letter-spacing: -0.01em;
	line-height: 140%;
}

.link-main {
	position: absolute;
	bottom: 0; margin-bottom: 16vh;
	left: 9vh;
	display: flex;
	align-items: center;
}

.img-rigth {
	width: 9vh;
}

/* BOX END=====================================*/

/* EVENT ======================================*/

.event {
	background-color: #FF0000;
}

.event__img {
	margin-right: 28px;
}

.event__img-left {
	width: 5vh;
}

/* EVENT END===================================*/

/* PR =========================================*/

.pr {
	background-color: #000000;
}

.pr__img {
	margin-right: 32px;
}

.pr__img-left {
	width: 5vh;
}

/* PR END======================================*/

/* PR =========================================*/

.special__content {
	color:#000;
}

.special {
	background-color: #F6F6F6;
}

.special__img {
	margin-right: 37px;
}

.special__img-left {
	width: 4vh;
}

/* PR END======================================*/